.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  margin-left: 1rem;
  height: 4vmin;
  pointer-events: none;
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(99deg) brightness(103%) contrast(101%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16181d;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex: 1;
  background-color: #282c34;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translate(900)
  }
  to {
    transform: translate(0);
  }
}

body {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
  